.mobile__menu-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: red;
  // display: none;
}

.menu--toggler {
  margin: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  cursor: pointer;
  width: 2.3rem;
  height: 2.3rem;
  opacity: 0;
}

.menu__hamburger {
  margin: 1rem;
  position: absolute;
  border-radius: $radius;
  top: 0px;
  left: 0;
  z-index: 2;
  width: 2.3rem;
  height: 2.3rem;
  padding: 0.3rem;
  background: rgba(169, 179, 201, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;

  // Hamburger line
  &--line {
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;

    &::before,
    &::after {
      content: '';
      position: absolute;
      z-index: 2;
      top: -10px;
      width: 100%;
      height: 2px;
      background: inherit;
    }

    &::after {
      top: 10px;
    }
  }
}

// Toggler animation
.menu--toggler:checked + .menu__hamburger {
  .menu__hamburger--line {
    transform: rotate(135deg);
    &::before,
    &::after {
      top: 0;
      transform: rotate(90deg);
    }
    &::hover {
      transform: rotate(225deg);
    }
  }
}

.menu--toggler:checked:hover + .menu__hamburger {
  .menu__hamburger--line {
    transform: rotate(225deg);
  }
}
