.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container {
  padding: 0 1.5;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

// image styles
.img--fit {
  object-fit: cover;
  object-position: center;
}

// text styles
.text--dark {
  color: $dark-color;
}

.title--l {
  text-transform: capitalize;
  font-weight: 900;
  font-size: 2rem;
  margin-bottom: 1.5rem;
  display: inline-block;
  border-bottom: 2px solid $primary-color;
  padding: 0 0.3rem;
  border-radius: $radius;
}

.text--white {
  color: $white-color;
}

.hide {
  display: none;
}

// height styles
.h--100 {
  height: 100% !important;
}

// Background styles
.bg--primary {
  background-color: $primary-color;
}

.bg--light {
  background-color: $light-color;
}

.active {
  color: rgb(0, 173, 95);
}

.inactive {
  color: rgb(250, 66, 81);
}

// Margin and Padding classes
$space-amounts: (1, 2, 3, 4, 5);

@each $space in $space-amounts {
  .py--#{$space} {
    padding: #{$space}rem 0;
  }

  .p--#{$space} {
    padding: #{$space}rem;
  }

  .my--#{$space} {
    padding: #{$space}rem 0;
  }

  .m--#{$space} {
    padding: #{$space}rem;
  }
}

// Button styles
%btn {
  display: inline-block;
  background-color: $light-color;
  padding: 0.7rem 1rem;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 0.87;
  font-weight: bold;
  font-family: inherit;
  color: #333;
  outline: none;
  border: none;
  border-radius: $radius;
}

.btn--add {
  @extend %btn;
  background-color: $primary-color;
  color: #fff;
  &:hover {
    background-color: darken($primary-color, 3%);
  }
}

.form {
  width: 100%;
  padding: 1rem;

  &__control {
    margin-bottom: 1rem;
    width: 100%;
  }

  &__input-label {
    display: inline-block;
    margin-bottom: 0.5rem;
  }

  &__input {
    display: block;
    border-radius: $radius;
    border: 1px solid #a0abb7;
    color: rgb(56, 56, 56);
    font-size: 0.8rem;
    padding: 0.5rem 1rem;
    width: 100%;
    background-color: #fff;
    font-family: inherit;
    outline: none;
    &:hover {
      background-color: #e6e6e6;
    }
  }

  &__btn {
    @extend %btn;
    background-color: $primary-color;
    text-align: center;
    width: 100%;
    color: $white-color;
  }
}
