@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:100,400,500,700,800,900&display=swap');
@import 'config';
@import 'utilities';

// header
.header {
  background-color: $light-color;
  display: flex;
  width: 100%;
  align-items: center;
  height: 4.5rem;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 2;
  box-shadow: $shadow;

  &__logo {
    display: flex;
    align-items: center;
    font-weight: 900;
    font-size: 0.8rem;
    height: 4.5rem;
    border-right: 1px solid $gray-color;
    padding: 1.5rem;
    width: 250px;
    color: $dark-color;
  }

  &__wrap {
    padding: 0 1.5rem;
  }

  &__button {
    display: flex;
    width: 400px;
    align-items: center;
    justify-content: space-between;
  }
}

.notification,
.account {
  position: relative;
  display: flex;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  &__item {
    padding: 0.5rem 1rem;
  }

  .icon-wrap {
    position: relative;
    i {
      font-size: 2rem;
      color: $gray-color;
    }

    span {
      position: absolute;
      background-color: #ff4b5a;
      font-weight: 400;
      font-size: 0.6rem;
      color: white;
      padding: 1px;
      border-radius: 100%;
      text-align: center;
      line-height: 0.8rem;
      display: inline-block;
      height: 0.9rem;
      width: 0.9rem;
      z-index: 1;
      top: -3px;
      right: -0.4rem;
    }
  }
  &__img {
    height: 3rem;
    width: 3rem;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 1rem;
  }
}

.js-dropdown {
  min-width: 250px;
  position: absolute;
  top: 58px;
  right: 0;
  background: #fff;
  transform-origin: right top;
  transition: all 0.4s ease;
  z-index: 3;
  box-shadow: $shadow;
  border-radius: $radius;
  padding: 1rem;

  &::after {
    box-sizing: border-box;
    content: '';
    display: block;
    width: 19px;
    height: 19px;
    border-bottom: 9px solid #fff;
    border-top: 9px solid transparent;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    position: absolute;
    top: -18px;
    right: 20px;
  }
}

.account-dropdown {
  display: none;
}

.notification--dropdown {
  // display: none;
  right: -135px;

  &::after {
    top: -18px;
    right: 153px;
  }
}

.account__info {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid $light-color;
  margin-bottom: 0.5rem;
}

.account-dropdown__footer {
  padding: 0.5rem;
  background-color: $primary-color;
  text-align: center;
  border-radius: $radius;
  a {
    display: block;
  }
}

.notification__title,
.notification__footer {
  padding: 0.5rem;
  text-align: center;
  color: $gray-color;
}

.notification__list {
  &-item {
    border-bottom: 1px dashed $light-color;
    font-size: 0.89rem;
    padding-top: 0.5rem;
  }
  span {
    display: block;
    font-size: 0.7rem;
    color: $gray-color;
  }
}

// Side nav
.aside {
  width: 250px;
  position: sticky;
  left: 0;
  top: 0;
  bottom: 0;
}
.sidebar {
  border-right: 1px solid $gray-color;
  position: fixed;
  overflow: hidden;
  height: 100vh;
  width: 250px;
}

.nav {
  margin-top: 5rem;
  .nav__list {
    padding: 1.5rem;
  }

  &__list-item {
    padding-bottom: 2rem;
  }

  .list-item--active {
    border-bottom: 2px solid $primary-color;
    border-radius: $radius;
  }

  a {
    padding: 0.5rem 0.3rem;
    font-size: 1rem;
    color: $nav-items-color;
    font-weight: bold;
    &:hover {
      color: $primary-color;
    }
  }

  &__icon {
    padding-right: 0.5rem;
  }
}

.main-content {
  flex-basis: 0;
  flex-grow: 1;
  padding-top: 6rem;
  max-width: 100%;
  background: $white-dark-color;
  height: 100%;
}

.section__content {
  padding: 0 1.5rem;
}

.overview {
  justify-content: space-between;
  align-items: center;
  &__box {
    width: 23%;
    padding: 1rem;
    border-radius: $radius;
    background-color: $shadow;
    background: linear-gradient(to bottom, #21c8f6, $primary-color);
    color: $white-color;

    span {
      font-size: 0.8rem;
    }
  }

  &__icon {
    font-size: 2rem;
  }
}

.main__heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// Modal styles
.modal {
  display: none;
  position: fixed;
  z-index: 4;
  left: 0;
  top: 0;
  overflow: auto;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  &__content {
    max-width: 600px;
    margin: 10% auto;
    background-color: $white-color;
    border-radius: $radius;
    box-shadow: $shadow;
    animation-name: openModal;
    animation-duration: 0.5s;
  }

  &__header {
    padding: 0 2rem;
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__body {
    padding: 0 1rem;
  }

  .close--btn {
    color: #ccc;
    float: right;
    font-size: 1rem;
    font-weight: 900;
    &:hover {
      color: #000000;
      text-decoration: none;
      cursor: pointer;
    }
  }

  @keyframes openModal {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

@import 'mobile';
